@charset "UTF-8";
/*
body{margin:0; padding:0;}
*{margin:0; padding:0; box-sizing:border-box;}

.container_wide{position:relative; background:#3a1b1b;
    .expand-section{@include conSize(null, 180vw, null); position:relative; z-index:7; overflow:hidden;
        .img-wrap{@include conSize(100%, 100%, null); position:absolute; top:0; z-index:-1; transform-style:preserve-3d; will-change:transform; background-image:url('https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63a090cc5189956e035ef49a_sam-mN-_5ZQAt3M-unsplash%20(1).jpg'); background-size:cover;}
        .txt-wrap{
            .txt-div{   
                h1{line-height:0.9; font-size:14em; font-weight:400; color:#e4032e;}
                &:nth-child(2){
                    h1{padding-right:10vw; text-align:right;}
                }
                &:nth-child(3){
                    h1{text-align:right;}
                }
                &:last-child{@include dis-flex(center, space-between, null, null);}
            }
        }
    }
    .scroll-section{@include conSize(224vw, 100%, null);
        .back-text{@include conSize(100%, null, null); position:sticky; top:0; transform-style:preserve-3d;
            h1{@include conSize(null, 100%, null); @include dis-flex(center, null, null, null); white-space:nowrap; @include font(50vw, null, #e4032e);}
        }
        .card-box{@include conSize(100%, 100%, null); @include dis-flex(flex-end, null, null, null); position:relative; z-index:99; transform-style:preserve-3d;
            .card{@include conSize(24.22vw, 38.752vw, null);
                &_01{background:url(./img/63af06f00e332ad974a03c1a_rhinos-card.png);}
                &_02{background:url(./img/63af00653ca698368600b01f_leopard-card.png);}
                &_03{background:url(./img/63b2d0999c26952473e5a496_gorilla-card.png);}
                &_04{background:url(./img/63b2d098085eb05340a8fb1d_orangutan-card.png);}
            }
        }
    }
}
.container_wide.__2{ padding:30vw 0 10vw; background:#000;
    .light-section{@include conSize(137vw, 80vw, null); display:-webkit-box;
        .lightImg{@include conSize(null, 41vw, null); overflow:hidden; border-radius:30px; margin-right:15vw; opacity:0.2;
            img{@include conSize(100%, 100%, null); object-fit:cover;}
        }
    }
    .circle-section{@include conSize(null, 100vh, null); position:relative;
        .circle{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:rgb(32, 32, 201); border-radius:50%;
            span{ }
        }
    }
    .text-section{
        .txt-div{
            h1{line-height:0.9; white-space:nowrap; @include font(14em, 400, #fff);}
            &:nth-child(even){
                h1{text-align:right;}
            }
        }
    }
}
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  background: #3a1b1b;
  color: #e4032e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding: 11px 0 0 0;
}
header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-inner a {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
header .header-inner .menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

/*** 섹션01 시작 ***/
.section01-inner {
  position: relative;
  padding: 0 20px 20px 20px;
}
.section01-inner .intro-txt-box .top-txt, .section01-inner .intro-txt-box .bot-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section01-inner .intro-txt-box .top-txt h1, .section01-inner .intro-txt-box .bot-txt h1 {
  line-height: 1;
  font-size: 12vw;
  font-weight: 400;
  color: #e4032e;
}
.section01-inner .intro-txt-box .top-txt h1.blur, .section01-inner .intro-txt-box .bot-txt h1.blur {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}
.section01-inner .intro-txt-box.bottom-fix {
  position: sticky;
  bottom: 0;
}
.section01-inner .contens-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section01-inner .contens-box .left {
  width: 56.3vw;
  height: 78.6vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b8c762fe573c241e4514de_orangutan-image.jpg") center no-repeat;
  background-size: cover;
}
.section01-inner .contens-box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 4vw 10vw 22vw 10.5vw;
}
.section01-inner .contens-box .right .txt-box h1 {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section01-inner .contens-box .right .txt-box h1.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section01-inner .contens-box .right .top-con {
  width: 12.5vmax;
  position: relative;
}
.section01-inner .contens-box .right .top-con .txt-box {
  padding: 0 0 20px 0;
}
.section01-inner .contens-box .right .top-con .video-box {
  height: 16vmax;
  position: relative;
}
.section01-inner .contens-box .right .top-con .video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section01-inner .contens-box .right .top-con .video-box .sc01_cursor {
  width: 9.96vw;
  height: 9.96vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: -41%;
  z-index: 5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
}
.section01-inner .contens-box .right .top-con .video-box .sc01_cursor p {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section01-inner .contens-box .right .top-con .video-box .sc01_cursor::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(58, 27, 27, 0.64);
  border-radius: 50%;
}

/*** 섹션01 끝 ***/
/*** 섹션02 시작 ***/
.section02 {
  position: relative;
  z-index: 55;
}
.section02-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vw 1.5vw 10vw 1.5vw;
}
.section02-inner .left {
  width: 49vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 6vw;
}
.section02-inner .left .fir h2 {
  line-height: 1.3;
  font-size: 1.7vw;
  font-weight: 400;
  font-family: "Noto Serif KR", serif;
  letter-spacing: -2px;
}
.section02-inner .left .sec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.section02-inner .left .sec p {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  text-transform: uppercase;
}
.section02-inner .left .thr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 1vw;
  font-weight: 500;
}
.section02-inner .left .thr .list_arr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section02-inner .left .thr .list_arr .year {
  width: 140px;
}
.section02-inner .left .thr .list_arr div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.section02-inner .left .thr .list_arr div p {
  width: 450px;
}
.section02-inner .right {
  width: 10.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 3vw;
  margin: 0 auto;
}
.section02-inner .right .img-box {
  width: 10.5vw;
  height: 14vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b9b5269d28b572e64f1482_deforestation-image.webp") bottom no-repeat;
  background-size: cover;
}
.section02-inner .right .rg_ul li {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  text-transform: uppercase;
}
.section02 .overlay_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
  -webkit-filter: brightness(0.5) blur(4px);
          filter: brightness(0.5) blur(4px);
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b9b5269d28b572e64f1482_deforestation-image.webp") top no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 8vw 3vw 3vw 6vw rgba(58, 27, 27, 0.5);
          box-shadow: inset 8vw 3vw 3vw 6vw rgba(58, 27, 27, 0.5);
}

/*** 섹션02 끝 ***/
/*** 섹션03 시작 ***/
.section03 {
  padding: 0 0 13vw 0;
}
.section03-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15vw;
}
.section03-inner .top-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section03-inner .top-con .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 45px;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section03-inner .top-con .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.section03-inner .top-con .left div a {
  position: relative;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section03-inner .top-con .left div a::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background: #e4032e;
}
.section03-inner .top-con .right h1 {
  line-height: 0.93;
  margin-bottom: -3vw;
  font-size: 24vw;
  font-weight: 700;
  font-family: "Nanum Myeongjo", serif;
}
.section03-inner .bot-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 1vw;
  text-align: center;
}
.section03-inner .bot-con h2 {
  font-size: 1.5vw;
  font-weight: 400;
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -1px;
}
.section03-inner .bot-con p {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section03-inner .bot-con a {
  position: relative;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section03-inner .bot-con a::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background: #e4032e;
}

/*** 섹션03 끝 ***/
/*** 섹션04 시작 ***/
.section04 {
  height: 120vw;
  position: relative;
  z-index: 55;
  overflow: hidden;
}
.section04-inner .txt-box {
  padding: 2vw 2vw 1vw 2vw;
}
.section04-inner .txt-box h1 {
  line-height: 0.9;
  font-size: 10vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section04-inner .txt-box h1:nth-child(2) {
  padding-left: 25vw;
}
.section04-inner .txt-box h1:nth-child(3) {
  text-align: right;
}
.section04-inner .txt-box h1:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section04 .tiger-bg {
  width: 100%;
  height: 150vw;
  position: absolute;
  top: -20%;
  left: 0;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63a090cc5189956e035ef49a_sam-mN-_5ZQAt3M-unsplash%20(1).jpg") no-repeat;
  background-size: cover;
  background-position: top;
}

/*** 섹션04 끝 ***/
/*** 섹션05 시작 ***/
.section05 {
  padding: 0 0 30vw 0;
}
.section05-inner .intro-txt-box {
  height: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2vw;
  padding: 0 0 18vw 0;
}
.section05-inner .intro-txt-box h1 {
  line-height: 1.2;
  font-size: 3.5vw;
  font-weight: 300;
  font-family: "Noto Serif KR", serif;
  letter-spacing: -2px;
  text-align: center;
}
.section05-inner .intro-txt-box span {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section05-inner .contents-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5vw;
}
.section05-inner .contents-box .left {
  width: 23.77vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 3vw;
}
.section05-inner .contents-box .left .txt-box h2 {
  font-size: 1vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.section05-inner .contents-box .left .txt-box h2:first-child {
  text-align: right;
}
.section05-inner .contents-box .left .sc05_imgView-bg {
  width: 100%;
  height: 34vw;
  overflow: hidden;
}
.section05-inner .contents-box .left .sc05_imgView-bg .img-box {
  width: 100%;
  height: 120%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63aee29ada54a2d8c32b2731_jungle2.jpg") center no-repeat;
  background-size: cover;
}
.section05-inner .contents-box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 23vw;
}
.section05-inner .contents-box .right .sc05_imgView-bg {
  width: 14.55vw;
  height: 18vw;
  margin: 0 auto;
  margin-right: 7vw;
  overflow: hidden;
}
.section05-inner .contents-box .right .sc05_imgView-bg .img-box {
  width: 100%;
  height: 200%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63aee29ab337a64c92f8e8c5_jungle1.jpg") center no-repeat;
  background-size: cover;
}
.section05-inner .contents-box .right .txt-box {
  text-transform: uppercase;
}
.section05-inner .contents-box .right .txt-box h2 {
  line-height: 1;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/*** 섹션05 끝 ***/
/*** 섹션06 시작 ***/
.section06 {
  height: 350vw;
  position: relative;
}
.section06 .fix-txt {
  padding-left: 10vw;
}
.section06 .fix-txt h1 {
  line-height: 0.85;
  white-space: nowrap;
  font-size: 44vw;
  font-weight: 300;
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -36px;
}
.section06-inner {
  height: 100%;
}
.section06-inner .card-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
}
.section06-inner .card-frame .empty_div {
  width: 100vw;
  height: 100vh;
}
.section06-inner .card-frame .card-container {
  display: -webkit-box;
  position: sticky;
  bottom: 0;
}
.section06-inner .card-frame .card-container .card-con-box {
  width: 27.4vw;
  height: 43vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section06-inner .card-frame .card-container .card-con-box .card {
  width: 84%;
  height: 85%;
  position: relative;
  z-index: 5;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.section06-inner .card-frame .card-container .card-con-box .card__1 {
  background: url(./img/RL-scroll-1.png) center no-repeat;
  background-size: 100%;
}
.section06-inner .card-frame .card-container .card-con-box .card__2 {
  background: url(./img/RL-scroll-2.png) center no-repeat;
  background-size: 100%;
}
.section06-inner .card-frame .card-container .card-con-box .card__3 {
  background: url(./img/RL-scroll-3.png) center no-repeat;
  background-size: 100%;
}
.section06-inner .card-frame .card-container .card-con-box .card__4 {
  background: url(./img/RL-scroll-4.png) center no-repeat;
  background-size: 100%;
}
.section06-inner .card-frame .card-container .card-con-box .card__5 {
  background: url(./img/RL-scroll-5.png) center no-repeat;
  background-size: 100%;
}
.section06-inner .card-frame .card-container .card-con-box .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
}

/*** 섹션06 끝 ***/
/*** 섹션07 시작 ***/
.section07 {
  position: relative;
  z-index: 55;
  padding: 47vw 0 30vw 0;
}
.section07 .graph-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.section07 .graph-bg .graph-line {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b82b3435544c7fd4c801b2_graph-line.svg") no-repeat;
  background-size: 80%;
}
.section07 .graph-bg .graph-line-opacity {
  opacity: 0.1;
}
.section07 .graph-bg .graph-line-basic {
  z-index: 1;
  mix-blend-mode: overlay;
}
.section07 .graph-bg .graph-line-exposure {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #3a1b1b;
}
.section07-inner .intro-txt-box h1 {
  line-height: 0.9;
  font-size: 10vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section07-inner .intro-txt-box h1.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section07-inner .intro-txt-box h1 span.arrow {
  width: 10vw;
  height: 11vw;
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b4885fc632652071eb414b_arrow-red.svg") center no-repeat;
  background-size: 8vw;
}
.section07-inner .contents-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section07-inner .contents-box .left {
  width: 15vw;
  margin: 0 auto;
  padding: 14vw 0 0 0;
}
.section07-inner .contents-box .left .img-box {
  width: 100%;
  height: 23.95vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63bade93a09a604a2c5a11ba_whale-image.jpg") center no-repeat;
  background-size: cover;
}
.section07-inner .contents-box .left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5vw 0 0 0;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section07-inner .contents-box .right {
  width: 48vw;
  height: 52.6vw;
  margin: 0 auto;
  margin-right: 0;
}
.section07-inner .contents-box .right .img-box {
  width: 100%;
  height: 100%;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63badf7bb73c8bb61c10dab9_chimp-image.jpg") center no-repeat;
  background-size: cover;
}

/*** 섹션07 끝 ***/
/*** 섹션08 시작 ***/
.section08-inner .intro-txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: sticky;
  top: 3vw;
}
.section08-inner .intro-txt-box .counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6vw;
}
.section08-inner .intro-txt-box .counter-container .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section08-inner .intro-txt-box .counter-container .counter p {
  height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden;
}
.section08-inner .intro-txt-box .counter-container .counter p span {
  font-size: 2.5vw;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.1);
}
.section08-inner .contents-box {
  position: relative;
  padding: 30vw 0 0 0;
}
.section08-inner .contents-box .checkCard-container {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: -1;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div {
  width: 44.9vw;
  height: 30.58vw;
  position: relative;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard.basic {
  background: url(./img/checkCard-1.jpg) center no-repeat;
  background-size: cover;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard__2 {
  background: url(./img/checkCard-2.png) center no-repeat;
  background-size: cover;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard__3 {
  background: url(./img/checkCard-3.png) center no-repeat;
  background-size: cover;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard__4 {
  background: url(./img/checkCard-4.png) center no-repeat;
  background-size: cover;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard__5 {
  background: url(./img/checkCard-5.png) center no-repeat;
  background-size: cover;
}
.section08-inner .contents-box .checkCard-container .checkCard-wrap .checkCard-div .checkCard__6 {
  background: url(./img/checkCard-6.png) center no-repeat;
  background-size: cover;
}
.section08-inner .contents-box .checkCard-txt-container {
  padding: 30vw 0 0 0;
}
.section08-inner .contents-box .checkCard-txt-container .checkCard-txt {
  width: 50vw;
  height: 140vh;
}
.section08-inner .contents-box .checkCard-txt-container .checkCard-txt h1 {
  line-height: 0.85;
  font-size: 9vw;
  font-weight: 300;
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -0.4vw;
}
.section08-inner .contents-box .checkCard-txt-container .checkCard-txt p {
  margin: 1.5vw 0 0 0;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  text-transform: uppercase;
}
.section08-inner .contents-box .checkCard-txt-container .checkCard-txt:nth-child(even) {
  margin: 0 auto;
  margin-right: 0;
}

/*** 섹션08 끝 ***/
/*** 섹션09 시작 ***/
.section09-inner .top-con {
  padding: 0 1.3vw;
}
.section09-inner .top-con .txt-box h1 {
  line-height: 0.9;
  font-size: 10vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.6vw;
}
.section09-inner .top-con .txt-box h1 p {
  line-height: 1;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  letter-spacing: 0;
}
.section09-inner .top-con .txt-box h1:nth-child(2) {
  text-align: right;
}
.section09-inner .top-con .txt-box .between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section09-inner .top-con .txt-box div.between h1:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
}
.section09-inner .top-con .txt-box div.between h1:last-child p span {
  display: block;
}
.section09-inner .top-con .txt-box div.between h1:last-child p > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section09-inner .top-con .clothes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section09-inner .top-con .clothes-box .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 51vw;
  border: 1px solid #e4032e;
}
.section09-inner .top-con .clothes-box .left .clothes-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section09-inner .top-con .clothes-box .left .clothes-container .clothes-inner {
  position: relative;
}
.section09-inner .top-con .clothes-box .left .clothes-container .clothes-inner .deco {
  width: 9vw;
  height: 9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background: rgba(228, 3, 46, 0.1);
  border-radius: 50%;
}
.section09-inner .top-con .clothes-box .left .clothes-container .clothes-inner .deco p {
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  text-align: center;
}
.section09-inner .top-con .clothes-box .left .clothes-container .clothes-inner span {
  display: block;
  margin: 3.56vw 0 0 0;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  text-align: center;
  text-transform: uppercase;
}
.section09-inner .top-con .clothes-box .left .clothes-container .clothes-inner .clothes {
  width: 38vw;
  height: 34vw;
  margin: 0 auto;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63eaa5c08f97d4c93bb1efcd_fernandina-tee.png") center no-repeat;
  background-size: cover;
}
.section09-inner .top-con .clothes-box .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.section09-inner .top-con .clothes-box .right-inner {
  width: 20vw;
  margin: 0 auto;
}
.section09-inner .top-con .clothes-box .right-inner h2 {
  position: relative;
  font-size: 1.8vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.section09-inner .top-con .clothes-box .right-inner h2.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section09-inner .top-con .clothes-box .right-inner h2:last-child span.arrow {
  width: 1.7vw;
  height: 1.7vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b4885fc632652071eb414b_arrow-red.svg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section09-inner .top-con .clothes-box .right-inner h2:last-child p {
  -webkit-transform: translate3d(15%, 0, 0);
          transform: translate3d(15%, 0, 0);
  -webkit-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.section09-inner .top-con .clothes-box .right-inner h2:last-child:hover span.arrow {
  left: 92%;
}
.section09-inner .top-con .clothes-box .right-inner h2:last-child:hover p {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.section09-inner .top-con .clothes-box .right-inner .clothes-container {
  margin: 1.7vw 0 0 0;
}
.section09-inner .top-con .clothes-box .right-inner .clothes-container .clothes-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 3vw 0;
  margin: 0 0 1.7vw 0;
  border: 1px solid #e4032e;
}
.section09-inner .top-con .clothes-box .right-inner .clothes-container .clothes-inner .clothes {
  width: 18vw;
  height: 18vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63ea87e7a4dfba1e9a0ae9cc_somefolk-critical-aw.png") center no-repeat;
  background-size: cover;
}
.section09-inner .top-con .clothes-box .right-inner .clothes-container .clothes-inner span {
  display: block;
  margin: 1.2vw 0 0 0;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
  text-align: center;
  text-transform: uppercase;
}
.section09-inner .bot-con {
  padding: 21vw 0 9vw;
}
.section09-inner .bot-con .fir {
  text-align: center;
}
.section09-inner .bot-con .fir .everpress_div {
  width: 3vw;
  height: 3vw;
  margin: 0 auto;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63bae3e3a09a60af755a632b_everpress-logo.svg") center no-repeat;
  background-size: cover;
}
.section09-inner .bot-con .fir span {
  display: block;
  margin: 2.5vw 0 1vw;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section09-inner .bot-con .fir .everpress_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw;
}
.section09-inner .bot-con .fir .everpress_link div a {
  position: relative;
  font-size: 0.7vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #e4032e;
}
.section09-inner .bot-con .fir .everpress_link div a::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background: #e4032e;
}
.section09-inner .bot-con .sec {
  padding: 11vw 0 0 0;
  text-align: center;
}
.section09-inner .bot-con .sec p {
  padding: 0 0 5vw 0;
  font-size: 2vw;
  font-weight: 700;
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: -0.06vw;
}
.section09-inner .bot-con .sec .support-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5.5vw;
}
.section09-inner .bot-con .sec .support-container .support-div_1 {
  width: 3.5vw;
  height: 5vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b8b279a5f15fff51548c0a_wwf-logo.svg") center no-repeat;
  background-size: cover;
}
.section09-inner .bot-con .sec .support-container .support-div_2 {
  width: 9.7vw;
  height: 4.2vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63baec681e37ba077769ea48_rewild-logo.svg") center no-repeat;
  background-size: cover;
}
.section09-inner .bot-con .sec .support-container .support-div_3 {
  width: 5vw;
  height: 4.8vw;
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63b8b27ae3ca2a2d12c44b87_iucn-logo.svg") center no-repeat;
  background-size: cover;
}

/*** 섹션09 끝 ***/
/*** 섹션01 시작 ***/
.section10 .natural-bg {
  width: 100%;
  height: 85vw;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  background: url("https://uploads-ssl.webflow.com/63a063add1f95873e153afbb/63c988773a9951c0fa3d4e75_tree-logs-forest.jpg") center no-repeat;
  background-size: cover;
}
.section10-inner .txt-box h1 {
  line-height: 0.9;
  font-size: 10vw;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.section10-inner .txt-box h1.between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section10-inner .txt-box h1:last-child {
  padding-right: 14vw;
  text-align: right;
}

/*** 섹션10 끝 ***/